<h1>Ajouter un produit</h1>

<form (submit)="saveProduct()">
    <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="newProduct.name">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" rows="3" [(ngModel)]="newProduct.description"></textarea>
    </div>

    <div class="form-group">
        <label for="price">Prix</label>
        <div class="input-group mb-3">
            <input type="number" class="form-control" name="price" [(ngModel)]="newProduct.price">
            <div class="input-group-append">
                <span class="input-group-text">DH</span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <button type="button" class="btn btn-secondary" (click)="cancel()">Annuler</button>
</form>